@import url(http://fonts.googleapis.com/css?family=Oswald);

header.container, footer.container {
    background: #ffd202;
    width: 100%;
}

header.user {
    background: #ffd202 url("../image/HEADER-2.jpg") top center no-repeat;
    height: 180px;
    width: 100%;
}

footer.user {
    background: #ffd202 url("../image/FOOTER-2.jpg") bottom center no-repeat;
    height: 180px;
    width: 100%;
}

article.question {
    margin-bottom: 15px;
}
