header.user {
    background: #ffd202 url("../image/header-2.jpg") top center no-repeat;
    height: 180px;
    width: 100%;
}

footer.user {
    background: #ffd202 url("../image/footer-2.jpg") bottom center no-repeat;
    height: 180px;
    width: 100%;
}

@media only screen and (max-width: 520px) {
    header.user {
        background: #ffd202 url("../image/header-2_movil.jpg") top center no-repeat;
    }

    footer.user {
        background: #ffd202 url("../image/footer-2_movil.jpg") bottom center no-repeat;
    }
}

article.question {
    margin-bottom: 15px;
}

label {
    padding-left: 0;
    min-width: 100%;
}

label.hover {
    background-color: rgba(0, 0, 0, 0.1);
}

input[type=radio] {
    margin-right: 10px;
}

.table .vertical-align {
    vertical-align: middle;
    line-height: 16px;
}

.table > tbody > tr > td, .table-responsive {
    border-top: 0;
    border: 0;
}