header.login,  footer.login {
    height: 180px;
    width: 100%;
}

header.login {
    background: #ffd202 url("../image/HEADER-1.jpg") top center no-repeat;
}

footer.login {
    background: #ffd202 url("../image/FOOTER-1.jpg") bottom center no-repeat;
}