header.login,  footer.login {
    height: 180px;
    width: 100%;
}

header.login {
    background: #ffd202 url("../image/header-1.jpg") top center no-repeat;
}

footer.login {
    background: #ffd202 url("../image/footer-1.jpg") bottom center no-repeat;

}

@media only screen and (max-width: 520px) {
    header.login {
        background: #ffd202 url("../image/header-1_movil.jpg") top center no-repeat;
    }

    footer.login {
        background: #ffd202 url("../image/footer-1_movil.jpg") bottom center no-repeat;

    }
}
